{% extends "base.html" %}


{% block content %}
<div class="container">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
    $(function() {
        $('select[name="servicios"]').change(function() {
        $.getJSON('/_add_numbers', {
          a: $('select[name="servicios"]').val()
        }, function(data) {
          $("#result").text('Precio: $' +  data.result);
        });
        return false;
      });
    });
  </script>

    <h1>Agendar cita</h1>
    <hr>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {% for error in form.title.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}


        {% from "_formhelpers.html" import render_field %}



            <dl>

                {{ render_field(form.servicios) }}
                 <h3><span id="result">Precio:</span></h3>

            </dl>

            <dl>
                {{ render_field(form.rooms) }}
            </dl>

            <dl>
                {{ render_field(form.doctores) }}
                Prueba branch
            </dl>

                {{ form.date.label}}
                {{ form.date(type="date") }}
                {% for error in form.date.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            <dl>
                {{ render_field(form.startTime) }}
            </dl>

            {{ form.title.label}}
            {{ form.title(size=32)}}


        <p>{{ form.submit() }}</p>
        </form>
</div>
<hr>
    {% endblock %}
